beautifulsoup4==4.12.3
blinker==1.8.2
browser-cookie3==0.19.1
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
Flask==3.0.3
greenlet==3.0.3
idna==3.7
instaloader==4.11
itsdangerous==2.2.0
Jinja2==3.1.4
lz4==4.3.3
MarkupSafe==2.1.5
numpy==2.0.0
opencv-python==4.10.0.84
pandas==2.2.2
playwright==1.44.0
pycryptodomex==3.20.0
pyee==11.1.0
pyktok==0.0.22
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytiktok==1.1.1
pytube==15.0.0
pytz==2024.1
requests==2.32.3
six==1.16.0
soupsieve==2.5
tiktok-dlpy==2.1.0
TikTokApi==6.3.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
Werkzeug==3.0.3
